<h1>Stupid Coaching</h1>

<div class="info">
    <p><%= @query %></p>
    <footer class="blockquote-footer">YOU</footer>
</div>
<div class="info" id="coach-card">
    <p><%= @answer %></p>
    <footer class="blockquote-footer">COACH</footer>
</div>


<div id="link">
  <%= link_to 'Ask a new question', ask_path %>
</div>
